body{
    height: 100vh;
    background-image: url('./bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.newLine{
    display: block;
}

.hide{
    display: none;
}

.box{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    width: 380px;
    height: 400px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.form{
    padding: 40px;
    position: absolute;
    inset: 5px;
    z-index: 10;
}

.form h2{
    font-size: 2rem;
}

.form div{
    margin: 10px 0px ;
}

.form div>label{
    display: block;
    letter-spacing: 1px;
}

.form div input{
    background: none !important;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(53, 52, 52);
    outline: none;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.15rem;
}

#credentials{
    margin: 34px 0px;
}